.spinner-sq {
  top: 0 !important;
}

// ::-webkit-scrollbar {
//   width: 15px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #ebf1fb;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #ebf1fb;
//   border-radius: 6px;
//   border: 3px solid #ebf1fb;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #ebf1fb;
// }

.home-ibk .flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
  color: #fff !important;
}
.home-ibk .flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
  color: #fff !important;
}.home-ibk .flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
  color: #fff !important;
}.home-ibk .flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
  color: #fff !important;
}
#contadorCyber13 .rotor-group:nth-child(1) .rotor-group-heading:before {
  color: #fff !important;
}
#contadorCyber13 .rotor-group:nth-child(2) .rotor-group-heading:before {
  color: #fff !important;
}

#contadorCyber13 .rotor-group:nth-child(3) .rotor-group-heading:before {
  color: #fff !important;
}
#contadorCyber13 .rotor-group:nth-child(4) .rotor-group-heading:before {
  color: #fff !important;
}
.home-ibk{
  .flipdown{
    margin-top: 24px;
    width: 300px;
  }
}
.leaveModal {
  p{
    color: #0855C4 !important;
    font-family: 'Omnes Regular';
  }
  .modal-content{
    background: url("./../../static/media/interseguroVehicular_v2/fondo_cuponazo_modal.svg") !important;
    background-size: cover !important;
  }
  .img-verano{
    max-width: 300px;
  }
}
.modal-blackWeek{
  max-width: 472px;
  width: 100%;
  height: 509px;
  font-family: 'Omnes Regular';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  .banner-modal{
      img{
          width: 100%;
      }
  }
  h3 {
      font-size: 24px;
      color: #ffffff;
  }
  span {
      font-family: 'Omnes Medium';
  }
  .btn{
      background-color: #ea0c90;
      color: white;
      height: 50px;
      width: 300px;
      line-height: 0.5;
      font-size: 16px;
      border-radius: 3px;
      border: none;
      &:hover{
          opacity: .7;
      }
  }
  p{
      color: #ffffff;
      font-size: 16px;
  }
  .modal-dialog{
      max-width: 472px;
      width: 100%;
      height: 509px;
  }
  .modal-content{
      max-width: 472px;
      width: 100%;
      height: 509px;
      background: url('./../../static/media/modalBlackWeek/fondo-modal-lg.svg');
      background-size: cover !important;
  } 
}
.pt-sinBlack{
  padding-top: 100px !important;
}
.modal.fade.show {
  display: flex !important;
}
.modal{
  .modal-body{
    padding-top: 34px;
    padding-bottom: 34px;
  }
  
  .modal-close{
    height: 45px;
    width: 45px;
    cursor: pointer;
  }
  .modal-titulo{
    color: #0855C4;
    font-size: 23px;
    font-family: 'Omnes medium';
    text-align: center;
    width: 220px;
    margin: auto;
    margin-bottom: 24px;
  }
  .box-btns{
    width: 100%;
    margin: auto;
    margin-top: 24px;
    text-align: center;
    .btn-principal{
      width: 170px;
      background: #EA0C90;
      color: white;
      font-size: 16px;
      font-family: 'Omnes Regular';
      height: 50px;
    }
  }
  .modal-content{
    display: flex;
    min-width: 338px;
    min-height: 305px;
  }
}
.modalEnviarEmail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  input{
    border: 1px solid #C6C6C6;
    height: 44px;
  }
  .fechaCotizador{
    width: 85%;
  }
}
#modalEntidadFinanciera2{
  .modal-titulo{
    color: #0855C4;
    font-size: 23px;
    font-family: 'Omnes medium';
    text-align: center;
    width: 280px;
    margin: auto;
    margin-bottom: 24px;
    line-height: 25px;
  }
  .box-btns{
    margin-top: 36px;
    .btn-principal{
      width: 280px;
      font-size: 18px;
    }
  }
}
#modalEnviarEmail{
  .modal-content{
    display: flex;
    width: 338px;
    height: 305px;
  }
}
#v2modalGPS{
  .modal-body{
    padding: 0;
  }
  .modal-dialog{

  }
}
@import "preguntas-frecuentes-viajes/dist/preguntasFrecuentesGenerico.css";
.omnes-medium{
  font-family: 'Omnes Regular';
}
.omnes-semibold{
  font-family: 'Omnes Medium';
}
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before, .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: transparent !important;
}
.flipdown.flipdown__theme-dark .rotor:after {
  border-top: solid 1px #dfdfdf6e !important;
}
.rotor-group{
  position: relative !important;
  height: 46px !important;
}
.rotor-group-heading {
  position: absolute !important;
  bottom: 0 !important;
  color: white !important;
  width: 45px !important;
  z-index: 9999 !important;
}
.flipdown .rotor-group-heading:before {
  height: 20px !important;
}
.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
  content: 'DIAS' !important;
  font-family: 'Omnes Medium' !important;
  letter-spacing: 1px !important;
  color: #ffffff!important;
}
.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
  content: 'HORAS' !important;
  font-family: 'Omnes Medium' !important;
  letter-spacing: 1px !important;
  color: #ffffff!important;
}
.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
  content: 'MIN' !important;
  font-family: 'Omnes Medium' !important;
  letter-spacing: 1px !important;
  color: #ffffff!important;
}
.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
  content: 'SEG' !important;
  font-family: 'Omnes Medium' !important;
  letter-spacing: 1px !important;
  color: #ffffff!important;
}
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
  color: #ffffff !important;
}
.exampleMobile .flipdown .rotor-group {
  padding-right: 15px !important;

}
.exampleMobile{
  .flipdown{
    width: 100% !important;
  }
}
.exampleMobile .flipdown .rotor {
  font-size: 18px !important;
}
.exampleMobile .flipdown .rotor, .exampleMobile .flipdown .rotor-leaf, .exampleMobile .flipdown .rotor-leaf-front, .exampleMobile .flipdown .rotor-leaf-rear, .exampleMobile .flipdown .rotor-top, .exampleMobile .flipdown .rotor-bottom, .exampleMobile .flipdown .rotor:after {
  width: 17px !important;
}
.exampleMobile .flipdown .rotor, .exampleMobile .flipdown .rotor-leaf, .exampleMobile .flipdown .rotor-leaf-front, .exampleMobile .flipdown .rotor-leaf-rear, .exampleMobile .flipdown .rotor-top, .exampleMobile .flipdown .rotor-bottom, .exampleMobile .flipdown .rotor:after {
  width: 18px !important;
}
.flipdown.flipdown__theme-dark .rotor, .flipdown.flipdown__theme-dark .rotor-top, .flipdown.flipdown__theme-dark .rotor-leaf-front {
  color: #04336f !important;
  background-color: #FFFFFF !important;
}
.flipdown.flipdown__theme-light .rotor, .flipdown.flipdown__theme-light .rotor-top, .flipdown.flipdown__theme-light .rotor-leaf-front {
  color: #222222 !important;
  background-color: #FFFFFF !important;
}
.flipdown.flipdown__theme-light .rotor-bottom, .flipdown.flipdown__theme-light .rotor-leaf-rear {
  color: #333333 !important;
  background-color: #FFFFFF !important;
}
.flipdown.flipdown__theme-dark .rotor-bottom, .flipdown.flipdown__theme-dark .rotor-leaf-rear {
  color: #222222 !important;
  background-color: #FFFFFF !important;
}


.flipdown {  
  width: 100% !important;
  height: 50px !important;
  padding: 4px !important;
  border-radius: 12px !important;
  overflow: hidden !important;
}

.flipdown .rotor {
  font-size: 18px !important;
  margin-right: 3px !important;
  font-family: 'Omnes Medium';
}

.flipdown .rotor,
.flipdown .rotor-leaf,
.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear,
.flipdown .rotor-top,
.flipdown .rotor-bottom,
.flipdown .rotor:after {
  width: 15px !important;
}

.flipdown .rotor-group {
  padding-right: 8px !important;
}

.flipdown .rotor-group:last-child {
  padding-right: 0px !important;
}

.flipdown .rotor-group-heading:before {
  font-size: 11px !important;
  height: 15px !important;
  line-height: 15px !important;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  left: 69px !important;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
  bottom: 13px !important;
  height: 5px !important;
  width: 8px !important;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  bottom: 29px !important;
  height: 5px !important;
  width: 8px !important;
}
#contadorCyber{
  .rotor-group {
      padding-right: 4px !important;
  }  
}
.flipdown .rotor-leaf-front,
.flipdown .rotor-top {
  line-height: 24px !important;
}

.flipdown .rotor-leaf,
.flipdown .rotor {
  height: 24px !important;
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear,
.flipdown .rotor-top,
.flipdown .rotor-bottom,
.flipdown .rotor:after {
  height: 12px !important;
}

.modal.fade.show{
  display: flex;
  align-items: center;
  justify-content: center;
}

#modalEntidadFinanciera.d-block{
  display: flex;
  align-items: center;
  justify-content: center;
}
#modalEntidadFinanciera, .box-endosoSesion{
  .modal-close {
    right: -27px;
    top: -37px;
  }
  .modal-dialog {
    width: 90%;    
  }
  .modal-content{
    border: none;
    margin: auto;
  }
  .modal-head{
    margin: auto;
    .endosar-titulo{      
      color: #19b5f0;
      text-align: center;
      margin: 12px auto;
      padding: 4px 8px;
      position: relative;
      margin-bottom: 0;
      padding-bottom: 8px;      
    }
  }
  .modal-body{
    padding: 0;
    margin: 0;
    border: none;
    select{
      padding: 0;
      border: 1px solid #19b5f0;
      color: #9E9E9E;
      option{
        border-bottom: 1px solid #19b5f0;
        height: 30px;
        line-height: 30px;        
        width: 100%;
        padding-top: 5px;
      }
    }
  }
  ul{    
    display: flex;
    justify-content: space-around;
  }
  .nav-pills{
    margin: 0;
    padding: 0 8px;
    flex-basis: 1;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0855C4;
    border: 1px solid transparent;
  }
  .nav-pills .nav-link {
    border-radius: 0.25rem;
    border: 1px solid #19b5f0;
}
  .card{
    border: none;
  }
  .card-header{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}
#modalInicioVigencia2{
  margin-top: 70px !important;
  .modal-titulo{
    width: 100%;
  }
}
#modalInicioVigencia{
  border: none;
  .modal-titulo{
    width: 100%;
  }
  .modal-body{
    min-height: 100% !important;
    margin: 0;
    padding: 14px 8px;
  }
  .modal-dialog {
    max-width: 370px;
  }
  .modal-close {
    position: absolute;
    right: -31px;
    top: -52px;
    z-index: 9999;
  }
  .btn-confirmar{
    height: 45px;
    width: 100%;
    margin-top: 18px;
    background: #ea0c90;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 21px;
    font-family: 'Omnes Regular';
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
#modalEndoso, #modalgps{  
  .modal-dialog{
    max-width: 1000px !important;
  }
  .modal-body{
    min-height: 100% !important;
  }
}
#modalcampaniatv.show.fade{
  display: flex !important;
  align-items: center;
}
#modalQuieroCotizar{
  .modal-body{
    padding: 0;
    margin: 0;
  }
  .modal-close{
    position: absolute;
    right: -26px;
    top: -37px;
    z-index: 99999;
  }
}
.modalcampaniatv{
  .modal-close{
    position: absolute;
    right: -2px;
    top: -34px;
    background: transparent;
  }
  .box-titulo{
    h2{
      font-size: 15px;
      text-align: center;
      font-weight: 600;
      color: #0855C4;
      font-size: 20px;
    }
  }
  .modal-head{
    margin-top: 18px;
  }
  .modal-content{
    border: transparent;
    border-radius: 35px;
    .image-9{
      width: 28px;
    }
  }
  .modal-body{
    padding: 0;
    height: 300px;
    &__item{
      padding: 0 12px;
      display: flex;
      align-items: center;
      margin-top: 12px;
    }
    .box-img {
      display: flex;
      justify-content: center;
      height: 65px;
      width: 73px;
      align-items: center;
    }
    .box-text{
      width: 100%;
      .box-descripcion{
        padding: 0 0 0 8px;
      }
    }
  }
  .modal-footer{
    border-radius: 0 0 35px 35px;
    background: #0855C4;
    color: white;
    text-align: center;
    justify-content: center;
  }
}
.beneficios{
  .w-icon-slider-left, .w-icon-slider-right {
    color: #D9EBFB !important;
    font-size: 27px;
    background: #719CD5 !important;
    border-radius: 50%;
    padding: 5px;
  }
}
.section-header{  
  &__title {
    display: block;
    width: auto;
    padding: 20px 0px;
    font-family: 'Omnes Medium';
    color: $gris-1;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
  }
  &__subtitle{
    width: auto;
    font-size: 24px;
    letter-spacing: 2px;
  }
  &__parrafo{
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
}

.section {
  position: relative;
  padding: 8% 0%;
}

.section-body{
  &__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Omnes Medium';
    color: $gris-1;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  &__title-2 {
    font-family: 'Omnes Medium';
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;  
  }

  &__parrafo{
    color: $gris-2;
    font-size: 18px;
    line-height: 30px;
  }
  .list-item {
    display: flex;
    height: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-8 {
    color: $gris-1;
    font-weight: 300;
  }
}
  
.footer{
  padding-top: 50px;
}
.main-nav__menu--item{
  text-decoration: none;
  list-style: none;
}
.main-nav__menu--item  ::after {
  content: "";
  position: absolute;
  left: 15%;
  width: 70%;
  height: 2px;
  bottom: 0;
  background-color: $secundario;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.main-nav__menu--item  :hover::after {
  transform: translateY(0px);
  opacity: 1;
}

/*      PORTADA         */
.uso-portada__portada{
  height: 100%;
}
#modalgps.show.fade{
  display: flex !important;
  align-items: center;
}
.modalHomeVideo{
  border: none;
}
#modalHomeVideo{
  .modal-content{
    background: transparent !important;
    border: none !important;
  }
  
}
#modalHomeVideo .modal-dialog{
  max-width: 740px;
}
#modalHomeVideo.show.fade{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.modalHomeVideo .modal-body{
  padding: 0;
}
#modalEntidadFinanciera.show.fade{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
#modalInicioVigencia.show.fade{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
#modalCompararPlanes{
  .modal-content{
    padding: 0;
  }
  .modal-body {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .modal-titulo {
    color: #0855C4;
    font-size: 23px;
    font-family: 'Omnes Medium';
    text-align: center;
    /* width: 220px; */
    margin: auto;
    margin-bottom: 24px;
  }
}
#modalEntidadFinanciera{
  .modal-close{
    position: absolute;
  right: -13px !important;
  top: -69px !important;
  z-index: 9;
  width: 48px;
  cursor: pointer;
  }
  .modal-content{
    width: 96%;
    margin: auto;
  }
  .modal-body{
    min-height: 245px;
  }
  .modalEntidadFinanciera{
    padding: 12px;
  }
  .modal-content {
      height: 320px;
  }
}
#v2modalGPS.modal.fade.show {
  align-items: flex-start !important;
}
@media (min-width: 992px) {
  #modalEntidadFinanciera2{
    .modal-titulo{
      font-size: 32px;
      line-height: 33px;
    }
    .modal-content {
      display: flex;
      min-width: 472px;
      min-height: 442px;
    }
    .modal-body{
      padding: 48px;
    }
    .endosoSession{
      margin: 44px 0px;
    }
    .box-btns{
      .btn-principal{
        font-size: 22px;
      }
    }
  }
  #v2modalGPS{
    .modal-body{
      padding: 0;
    }
    .modal-dialog{
      max-width: 880px;
      width: 880px;
    }
  }
  #v2modalGPS.modal.fade.show {
    align-items: center !important;
  }
  #modalEnviarEmail{
    .modal-content{
      display: flex;
      width: 420px;
      height: 305px;
    }
  }
  
}
@media (min-width: 1024px) {
  .rotor-group-heading {
    width: 47px  !important;
  }
  .exampleMobile .flipdown .rotor-group {
    padding-right: 6px !important;

  }
  .exampleMobile{
    .flipdown{
      width: 100% !important;
    }
  }
  .exampleMobile .flipdown .rotor {
    font-size: 18px !important;
  }
  .exampleMobile .flipdown .rotor, .exampleMobile .flipdown .rotor-leaf, .exampleMobile .flipdown .rotor-leaf-front, .exampleMobile .flipdown .rotor-leaf-rear, .exampleMobile .flipdown .rotor-top, .exampleMobile .flipdown .rotor-bottom, .exampleMobile .flipdown .rotor:after {
    width: 17px !important;
  }
  .exampleMobile .flipdown .rotor, .exampleMobile .flipdown .rotor-leaf, .exampleMobile .flipdown .rotor-leaf-front, .exampleMobile .flipdown .rotor-leaf-rear, .exampleMobile .flipdown .rotor-top, .exampleMobile .flipdown .rotor-bottom, .exampleMobile .flipdown .rotor:after {
    width: 18px !important;
  }
  .flipdown.flipdown__theme-dark .rotor, .flipdown.flipdown__theme-dark .rotor-top, .flipdown.flipdown__theme-dark .rotor-leaf-front {
    color: #222222;
    background-color: #FFFFFF !important;
  }
  .flipdown.flipdown__theme-light .rotor, .flipdown.flipdown__theme-light .rotor-top, .flipdown.flipdown__theme-light .rotor-leaf-front {
    color: #222222;
    background-color: #FFFFFF !important;
  }
  .flipdown.flipdown__theme-light .rotor-bottom, .flipdown.flipdown__theme-light .rotor-leaf-rear {
    color: #333333;
    background-color: #FFFFFF !important;
  }
  .flipdown.flipdown__theme-dark .rotor-bottom, .flipdown.flipdown__theme-dark .rotor-leaf-rear {
    color: #222222;
    background-color: #FFFFFF !important;
  }

  .flipdown {  
    width: 364px !important;
    height: 50px !important;
    padding: 4px !important;
    border-radius: 12px !important;
    overflow: hidden !important;
  }

  .flipdown .rotor {
    font-size: 24px !important;
    margin-right: 3px !important;
  }

  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 20px !important;
  }

  .flipdown .rotor-group {
    padding-right: 10px !important;
  }

  .flipdown .rotor-group:last-child {
    padding-right: 0px !important;
  }

  .flipdown .rotor-group-heading:before {
    font-size: 11px !important;
    height: 15px !important;
    line-height: 15px !important;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    left: 69px !important;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    bottom: 13px !important;
    height: 5px !important;
    width: 8px !important;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    bottom: 29px !important;
    height: 5px !important;
    width: 8px !important;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-top {
    line-height: 30px !important;
  }

  .flipdown .rotor-leaf,
  .flipdown .rotor {
    height: 30px !important;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 15px !important;
  }
    #modalEntidadFinanciera{
      .modal-content{
        width: 380px;
      }
      .modal-body{
        min-height: 250px;
      }
      .modalEntidadFinanciera{
        padding: 12px;
      }
      .modal-content {
          height: 300px;
      }
      .modal-head{
        margin: auto;
        .endosar-titulo{
          font-size: 20px;
          padding-bottom: 10px;
        }
      }
    }

    .modal{
      .box-btns{
        .btn-principal{
          font-size: 22px;
        }
      }
    }
}

.modalContinuarSinPlaca{
  .modal.show{
    display: flex !important;
    align-items: center !important;
  }
  .modal-container__custom{
    width: 100% !important
  }
  .modal-body{

    padding: 0 !important;
    .text-modalEnviarMail{
      font-size: 14px !important;
    }
  }
}


.modal-container__custom .modal-close-cotizacion{
  background: white;
}


@media (min-width: 1024px) {
  .VueCarousel-dot:focus {
    outline: 1px solid transparent !important;
  }
  .otros{
    .VueCarousel-pagination{
      display: flex !important;
      position: relative;
      .VueCarousel-dot-container{
        margin: 0;
      }
    }
    .w-slider-mask{
      height: 100% !important;
      .VueCarousel{
        height: 100% !important;
        justify-content: center;
        padding-top: 113px !important;
      }
    }
  }
}

@media (min-width: 1200px) {
  .VueCarousel-dot:focus {
  }
  .otros{
    .VueCarousel-pagination{
      padding-left: 6%;
      .VueCarousel-dot-container{
      }
    }
    .w-slider-mask{
      .VueCarousel{
      }
    }
  }
}
@media (min-width: 1330px) {
  .VueCarousel-dot:focus {
  }
  .otros{
    .VueCarousel-pagination{
      padding-top: 60px;
      .VueCarousel-dot-container{
      }
    }
    .w-slider-mask{
      .VueCarousel{
      }
    }
  }
}