body{
    // background-color: aqua;
}
#modalEditarCorreo .modal-dialog{
    width: 380px;
}
#modalEditarCelular, #modalEditarCorreo, #modalEntidadFinanciera, #modalInicioVigencia, #modal-confirmaTusDatos-app{
    .btn-principal{        
        background-color: $vehicular_secundario ;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-family: 'Omnes Regular';
        width: 245px;   
        text-align: center;
        height: 45px;
    }
    .box-btns{
        margin: auto;
        padding-bottom: 12px;
        padding-top: 24px;
        position: relative;
        text-align: center;
        width: 100%;        
    }
    .modal-close{
        position: absolute;
        right: -23px;
        top: -48px;
        z-index: 9;
        width: 48px;
        cursor: pointer;
    }
    .modal-content{
        border: none;
        padding: 28px 0 8px;
        .modal-titulo{
            color: $vehicular_primario;
            font-size: 20px;
            // font-family: 20px;
            text-align: center;
        }
    }
}
#modalInicioVigencia .modal-content {
    padding: 16px 0 0px;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(./../../static/media/img/root/flecha_abajo.png) no-repeat right .75rem center/8px 10px;
    background-size: 18px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Omnes Medium';
    color: #0855c4;
    font-size: 16px;
}
.pago{
    font-family: 'Omnes Regular';
    padding-bottom: 40px;
    padding-top: 140px;
    .custom-select{
        height: 45px;
        box-shadow: none;
        border: 1px solid #C7C7C7;
        border-radius: 5px;
        font-family: 'Omnes Medium';
    }
    .tarjetas-aceptadas{
        display: flex;
        justify-content: flex-end;
    }
    .resumen-tu-seguro,.ingresa-datos{
        color: $vehicular_primario;
        font-size: 23px;
        font-family: 'Omnes Medium';
        text-align: center;
        max-width: 440px;
        line-height: 33px;
    }
    .btn-principal{        
        background-color: $vehicular_secundario ;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-family: 'Omnes Regular';
        width: 245px;   
        text-align: center;
        height: 45px;
    }
    .box-btns-fixed{
        bottom: 0;
        margin: auto;
        padding-bottom: 12px;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 999;
        left: 0;
    }
    .box-btns{
        margin: auto;
        padding-bottom: 12px;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .item-titulo{
        color: $vehicular_primario;
        font-size: 18px;
        font-family: 'Omnes Medium';
        padding: 15px 0 10px 0;
    }
    .subtitulo{
        color: $vehicular_subtitulo;
        font-size: 15px;
        font-family: 'Omnes Regular';
    }
    .detalle-item{
        display: flex;
        align-items: center;
        height: 25px;
        span{
            color: $vehicular_parrafo;
        }
        p:first-child{
            color: $vehicular_parrafo;
            font-size: 14px;
            font-family: 'Omnes Regular';
            text-align: left;
            width: 96px;
        }
        p:nth-child(2){
            color: $vehicular_parrafo;
            font-size: 14px;
            font-family: 'Omnes Medium';
            position: relative;
            text-align: left;
            width: calc(100% - 122px);
            padding-right: 0;
            word-break: break-word;
            display: flex;
            align-items: center;
        }
        .edit_app{            
            position: relative;
            right: -4px;
            top: 0px;
            width: 15px;
            cursor: pointer;
        }
    }
    .c-suma-asegurada{
        padding-top: 16px;
        .monto-actual{
            color: $vehicular_primario;
            font-size: 20px;
            text-align: right;
        }
        &--box{
            align-items: center;
            display: flex;            
            padding: 0px 12px 0 2px;
            .monto-minimo, .monto-actual{
                width: 100px;          
            }
            
        }
        p{
            font-size: 1.2rem;
        }
        .monto-minimo-maximo{
            color: $vehicular_parrafo;
            font-size: 11px;
            font-family: 'Omnes Regular';
            display: flex;
            justify-content: space-between;
        }
    }
    .frecuencia-pago{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        p{
            font-family: 'Omnes Medium';
            color: #454A6C;
            font-size: 16px;
        }
        .select{
            width: 100%;
        }
    }
    .monto-fecha{
        display: flex;
        padding: 12px 0;
    }
    .box-monto-pago{
        background-color: #EFF1F5;
        padding: 13px 12px;
        width: 50%;
        .subtitulo{
            font-family: 'Omnes Medium';
        }
        .antes{
            font-family: 'Omnes Regular';
            font-size: 15px;
            text-decoration: line-through;
            text-decoration-color: #EA0F90;
        }
        .monto-frecuencia{
            align-items: center;
            border-radius: 3px;
            color: $vehicular_primario;
            display: flex;
            font-size: 16px;
            padding: 10px 0;
            font-family: 'Omnes Medium';
            .monto{
                font-size: 35px;
            }
        }
    }
    .box-inicio-poliza{
        padding: 13px 12px;
        width: 50%;
    }
    .enlaces{
        a{
            color: $vehicular_primario;
            font-family: 'Omnes Medium';
            font-weight: 500 !important;
            font-size: 16px !important;
            text-decoration: underline;
        }
    }
    /*******************************************
                SEGUNDA PANTALLA
    *******************************************/
    .resumen{
        border-bottom: 1px solid #D1D1D1;
        display: flex;
        justify-content: space-between;
        max-width: 470px;
        padding-bottom: 24px;        
        .btn-ver-resumen{
            border: none;
            background-color: #0855C4;
            color: #ffffff;
            font-family: 'Omnes Medium';
            font-size: 14px;
            border: none;
            height: 35px;
        }
        .resumen-desc{
            strong{
                font-family: 'Omnes Medium';
                font-size: 16px;
                color: #454A6C;
            }
        }
    }
    .datos-tarjeta{
        padding-top: 28px;
        max-width: 470px;
        .box-btns{
            margin-top: 16px;
        }
        .autorizo-envio{
            margin: 28px 0;
            text-align: center;
            color: #696969;
            font-size: 12px;
        }
        .enlace-tyc{
            text-align: center;
            color: #454A6C;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                margin-right: 8px;
            }
            span{
                
                cursor: pointer;
                text-decoration: underline;
                font-family: 'Omnes Medium';
                outline-color: transparent;
            }
        }
    }
}

@media (min-width: 1024px) {
    .pago{
        .datos-tarjeta{
            padding-top: 0;
        }
        .enlace-tyc{         
            font-size: 15px;
        }
        .detalle-item{
            span{
            }
            p:first-child{
                width: 144px;
            }
        }
        .enlaces{
            a{
                font-size: 18px !important;
            }
        }
    }
}
@media (min-width: 1200px) {
    .pago{
        padding-top: 174px;
        .datos-tarjeta{
            padding-top: 0;
        }
        .cotizador__suma-asegurada--box {
            width: 400px;
        }
        .c-suma-asegurada{
            .monto-minimo-maximo{
                width: 400px;
            }
        }
        .frecuencia-pago{
            flex-direction: row;
            align-items: center;
            width: 400px;
            p{
                font-size: 18px;
            }
            .select{
                width: 212px;                
            }
            .custom-select{
                font-size: 17px;
            }
        }
        
        .resumen-tu-seguro,.ingresa-datos{
            font-size: 24.5px;
            line-height: 33px;
            text-align: center;
        }
        .resumen-tu-seguro{
            text-align: left;
        }
        .btn-principal{
            height: 52px;
            width: 280px;
        }
        .item-titulo{
            font-size: 19.2px;
        }
        .detalle-item{
            span{
            }
            p:first-child{
                font-family: 'Omnes Regular';
                font-size: 16px;
            }
            p:nth-child(2){
                font-size: 16px;
            }
        }
        .box-monto-pago{
            width: 205px;
            .antes{
                font-family: 'Omnes Regular';
                font-size: 16px;
            }
            .monto-frecuencia{
                font-size: 20px;
                .monto{
                    font-size: 42px;
                }
            }
        }
    }
}