$vehicular_primario: #0855c4;
$vehicular_secundario: #ea0c90;
$vehicular_parrafo: #454A6C;
$vehicular_titulo_seccion: #0855C4;
$vehicular_subtitulo: #454A6C;

$vehicular_parrafo_v2: #383C5A;
.nuevo-home{
    font-size: 18px;
    padding-top: 72px;
    padding-bottom: 100px;
    color: $vehicular_parrafo_v2;
    .oculto{
        display: none !important;
    }
    .box-btn-home-cotizar-flotante{
        display: flex;
        background-color: #FFFFFF;
        height: 69px;
        width: 100%;
        position: fixed;
        bottom: 0px;
        right: 15px;
        z-index: 99;
        .btn-home-cotizar-flotante{
            font-family: 'Omnes SemiBold';
            border: #EA0F8F !important;
            background-color: #EA0F8F !important;
            color: #fff;
            max-width: 360px;
            width: 50%;
            height: 51px;
            margin: 0 auto !important;
            position: relative;
            border-radius: 3px;
            outline: none;
            position: fixed;
            bottom: 8px;
            right: 15px;
        }
        .desde{
            font-family: 'Omnes Medium';
            font-size: 12px;
            color: #333333;
            text-transform: uppercase;
        }
        .text{
            font-family: 'Omnes Regular';
            font-size: 18px;
            color: #333333;
            text-transform: none;
        }
        .monto{
            font-family: 'Omnes Medium';
            font-size: 30px;
            color: #333333;
            text-transform: none;
        }
    }
    
    .VueCarousel-dot--active{
        background-color: $vehicular_primario !important;
    }
    .VueCarousel-dot:focus{
        outline: none !important;
    }
    .asegurados{
        color: $vehicular_primario;
        font-size: 16px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    p{
        padding: 0;
        margin: 0;
    }
    .container-fluid{
        background-color: #F9F9FB ;
        //padding-top: 15px;
        //padding-bottom: 15px;
    }
    .home-seccion{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .seccion-contenido{
        //padding-top: 30px;
        padding-bottom: 35px;
        //margin-bottom: 30px;        
        .row-comentario{
            padding-top: 0px;
        }
        .row-start{
            padding-top: 24px;
            padding-bottom: 20px;
            .stars{
                img{
                    margin-right: 6px;
                }                
            }
        }
    }
    .content-inicio{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .content{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .content-medio{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .section-title{
        font-family: 'Omnes Regular';
        padding-top: 40px;
        padding-bottom: 40px;
        p{
            color: $vehicular_primario;
            text-align: center;
            font-size: 39px;
            line-height: 2.19rem;
            margin: auto;
        }
    }
    .section-title-interno{
        font-family: 'Omnes Regular';
        //padding-top: 40px;
        //padding-bottom: 40px;
        p{
            color: $vehicular_primario;
            text-align: center;
            font-size: 39px;
            line-height: 2.19rem;
            //max-width: 290px;
            //margin: auto;
        }
    }
    
    /**********************************************************/
    /**********************************************************/
    /**********************************************************/
    .banner{
        background-color: transparent;
        height: 480px;
        width: 100%;
        position: relative; 
        //margin-bottom: 25px;       
        .banner-blue{
            position: absolute;
            height: 350px;
            background-color: $vehicular_primario;
            width: 100%;
            z-index: 9;
        }
        .banner-textos{
            //width: 455px;
            //width: 325px;
            //margin-left: 32px;
            //margin-left: 5px;
            color: #fff;            
            padding-top: 28px;
            position: relative;
            z-index: 9;
            .titulo{
                font-family: 'Omnes Medium';
                font-size: 48px;
                line-height: 40px;
                width: 545px;
            }
            .subtitulo{
                color: #fff;
                text-align: center;
                font-size: 22px;
                font-family: 'Omnes Regular';
                line-height: 30px;
                margin-top: 16px;
                margin-bottom: 50px;
            }
            .titulo-mobile{
                width: 100%;                
                text-align: center;
                font-size: 34px;
                line-height: 40px;
                font-family: 'Omnes Medium';
            }
        }

        .fondo-banner{
            width: 780px;
            height: 350px;
            margin-right: -195px;
            margin-bottom: -117px;
            margin-left: -300px;
            //vehiculo
            //background-image: url('./../../static/media/imagenes/home/vehiculo2.svg');
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: right;            
        }

        .formCotizador{
            padding:2rem 1.5rem;
            max-width: 438px;
            width: 100%;
            max-width: 340px;
            //height: 300px;
            border-radius: 3rem 0 3rem 0;
            background: #fff;
            border: 1px solid #DDE0E9;
            //box-shadow: -3px 4px 12px -1px #ccc;
            position: relative;
            margin: auto;
            z-index: 9; 
            input{
                text-align: center;
            }
            h1{
                font-family: 'Omnes Regular';
                font-size: 1.1rem;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: center;
                color: $vehicular_parrafo;
                margin-top: 25px;
                margin: 0;
                padding: 0;
                padding-top: 8px;
                padding-bottom: 18px;
            }
            &__msg{
                padding: 7px 14px;
                position: absolute;
                right: -1rem;
                top: -1rem;
                border-radius: 8px 0 8px 0;
                box-shadow: 0 4px 4px 0 rgba(0,0,0,.19);
                background-color: #0133A1!important;
                color: white !important;
                font-family: 'Omnes Regular';
            }
            .box-btn-homeForm{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                button{
                    font-family: 'Omnes Regular';
                    border: #EA0F8F !important;
                    background-color: #EA0F8F !important;
                    color: #fff;
                    max-width: 360px;
                    width: 100%;
                    //max-width: 275px;
                    height: 51px;
                    margin: 0 auto !important;
                    position: relative;
                    border-radius: 2px;
                    outline: none;
                }
                /* button:active{
                    background-color: #bd0872 !important;
                } */
            }
            .respaldo-intercorp{
                span{
                    font-family: 'Omnes Regular';
                    font-size: 11px;
                }
            }
        }
        .cliploader{
            width: 100%;
            right: 0;
            height: 51px;
            top: 0px;
        }
    }
    .client{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    .client-numbers{
        border: #DDE0E9 1px solid;
        padding: 2px 10px;
        height: 100%;

        &__item{
            display: flex;
            align-items: center;
            position: relative;
            padding: 12px 0;
            img{
                margin-right: 12px;
            }
            &:after{
                background-color: #DDE0E9;
                bottom: 0;
                content: "";                
                height: 1px;
                left: 2%;
                position: absolute;
                width: 98%;                
            }
            &--numbers{
                font-size: 1.75rem;
                padding: 0;
                font-family: 'Omnes Medium';
                margin: 0;
            }
            &--text{
                font-size: 1.12rem;
                padding: 0;
                font-family: 'Omnes regular';
                margin: 0;
                margin-top: 8px;
            }
            &:last-child{                
                &:after{
                    background-color: transparent;
                }
            }
        }

    }
    .beneficios{
        border: #DDE0E9 1px solid;
        padding-right: 20px;
        padding-left: 20px;
        &__item{
            display: flex;
            align-items: center;
            position: relative;
            padding: 12px 0;
            .caja{
                display: flex;
                align-items: center;
                position: relative;
                padding: 12px 0;
            }
            img{
                margin-right: 12px;
                width: 67px;
            }
            &--texto{
                line-height: 25px;
            }
            &:after{
                background-color: #DDE0E9;
                bottom: 0;
                content: "";                
                height: 1px;
                left: 2%;
                position: absolute;
                width: 98%;                
            }
            &:last-child{                
                &:after{
                    background-color: transparent;
                }
            }
        }
    }
    .home-video{
        padding-top: 40px;
        padding-bottom: 55px;
        .text-video{
            font-size: 1.125rem;
            text-align: center;
            line-height: 25px;
            font-family: 'Omnes Regular';
        }
        .box2-btn{
            display: flex;
            justify-content: center;
            margin-top: 32px;
            
        }
        .btn-azulVehicular{
            background-color: $vehicular_primario;
            border: none;
            color: #fff;
            width: 263px;
            height: 49px;
            cursor: pointer;
            text-align: center;
            line-height: 49px;
            text-decoration: none;
        }
    }
    .elegirnos{
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #F9F9FB;
        &__item{
            display: flex;
            align-items: center;
            align-content: center;
            text-align: center;
            img{
                //margin-right: 30px;
                width: 90px;
            }
            &--titulo{
                color: #383C5A;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Omnes SemiBold';
                padding-top: 30px;
            }
            &--text{
                padding-top: 10px;
                line-height: 23px;
                font-family: 'Omnes Regular';
            }
        }
        &__item-inicial{
            display: flex;
            padding-top: 0px; 
            align-items: center;
            align-content: center;
            text-align: center;              
            &--titulo{
                color: #383C5A;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Omnes SemiBold';
                padding-top: 0px;                    
            }
            &--text{
                padding-top: 10px;
                line-height: 23px;
                font-family: 'Omnes Regular';
            }
            img{
                width: 90px;
            }
        }
    }
    
    /* .slider-testimonio{
        //width: 492px;
        height: 91px;
        display: flex;
    } */

    .testimonios{
        display: flex;
        font-size: 16px;
        font-family: 'Omnes Regular';
        width: 100%;
        background: #F9F9FB;
        height: 112px;
        display: flex;
        align-items: center; 
        .imagen-testimonio{
            padding-left: 34px;
        }
        .text-testimonio{
            padding-left: 2px !important;
        }       
        p{
            font-size: 16px;
            font-family: 'Omnes Regular';
            color: #383C5A;
            span{
                font-family: 'Omnes SemiBold';
            }
        }
        .carousel-caption{
            position: absolute;
            right: 0%;
            bottom: 0px;
            left: 0%;
            z-index: 10;
            padding-top: 2px;
            padding-bottom: 2px;
            color: #383C5A;
            text-align: center;
            height: 100%;
        }
        .carousel-inner{
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 100%;
            padding: 5px 15px;
            line-height: 0px;
            text-shadow: none;
        }
        .carousel-item{
            height: 100%;
            line-height: 22px;
        }
        .slide{
            width: 100%;
            height: 100%;
        }
        img{
            width: 59px;
            height: 59px;
            margin-right: 12px;
        }
        .VueCarousel-slide{
            img{
                width: 59px;
                height: 59px;
                margin-right: 12px;
            }
            display: flex;
            font-size: 16px;
        }
    }
    .box-planes{
        background-color: #F9F9FB;        
    }

    .titulo-box-planes{
        font-size: 18px;
        font-family: 'Omnes SemiBold';
        color: #383C5A;
        line-height: 25px;
        padding-top: 20px;
        padding-bottom: 4px;
    }
    .que-me-cubre{
        padding-left: 16px;
        &__item{          
          font-family: 'Omnes Regular';
          font-size: 16px;
          //line-height: 25px;
          padding-top: 6px;
          color: #383C5A;
          span{
              margin-left: 12px;
          }          
        }
    }

    .planes{
        display: flex;
        flex-direction: column; 
        padding-bottom: 55px;       
        .detalle-plan{
            display: flex;
            //flex-direction: column;
            align-items: center;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            height: 100%;
            .box-titulo{
                margin-top: 20px;
                margin-bottom: 10px;
                .titulo-principal{
                  letter-spacing: var(--unnamed-character-spacing-0);
                  color: var(--unnamed-color-383c5a);
                  text-align: center;
                  font-weight: bold;
                  font-size: 18px;
                  letter-spacing: 0px;
                  color: #383C5A;
                  text-transform: uppercase;
                }
                .titulo-descripcion{
                  text-align: center;
                  font-family: 'Omnes Regular';
                  font-size: 18px;
                  letter-spacing: 0px;
                  color: #383C5A;
                  text-transform: none;
                }
                
              }
              .monto-frecuencia{
                margin-top: 35px;
                margin-bottom: 20px; 
                text-align: center; 
                font-size: 23px;                 
                p{
                    font-family: "Omnes Regular";
                }            
                .monto{
                    color: #383C5A;
                    font-family: "Omnes Medium";
                    font-size: 42px;
                }
              }
              .monto-antes {
                margin-top: 10px;
                color: #454A6C;
                font-family: "Omnes Medium";
                font-size: 18px;
                text-decoration: line-through;
                text-decoration-color: #2157BD;
              }
              .que-me-cubre {
                width: 90%;
              }
              hr{
                width: 80%;
                /* border: 1px solid #CCD1DD;
                opacity: 1; */
              }
        }
        .box-titulo-normal{
            width: 100%;
            background-color: #FFFFFF;
        }
        .box-titulo-recomendado{
            width: 100%;
            background-color: #F9F9FB;
        }
        .plan-not-head{
            background: #F9F9FB;
            height: 35px;
            width: 100%
        }
        .plan-recomendado{
            background: $vehicular_primario;
            height: 35px;
            //width: 100%;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 17px;
            font-family: 'Omnes Medium';
            border-radius: 3px 3px 0 0;
            img{
                margin-right: 7px;
            }
        }
        .box-plan-normal{
            display: flex;
            //flex-direction: column;
            //align-content:space-between;
            //width: 100%;
            height: 100%;
            border: 1px solid #DDE0E9;
            padding-bottom: 1.7rem;
            background-color: #fff;
            border-radius: 3px;
            opacity: 1;
        }
        .box-plan-recomendado{
            //width: 100%;
            height: 100%;
            border: 3px solid $vehicular_primario;
            padding-bottom: 1.7rem;
            background-color: #fff;
            border-radius: 3px;
            opacity: 1;
        }
        

        .plan-monto{
            font-size: 1.5rem;
            text-align: center;
            color: $vehicular_primario;
            padding: 16px 0;
        }
        .plan-incluye{
            color: #454A6C;
            font-family: 'Omnes SemiBold';
            padding-left: 1.5rem;
        }
        .plan-nombre{
            text-align: center;
            font-size: 1.25rem;
            font-family: 'Omnes Regular';
            padding: 16px 0;
            position: relative;
            &:after{
                background-color: #DDE0E9;
                bottom: 0;
                content: "";                
                height: 1px;
                left: 15%;
                position: absolute;
                width: 70%; 
            }
        }
        ul{
            padding-top: 14px;
            padding-left: 1.5rem;
            li{
                list-style: none;
                font-family: 'Omnes Regular';
                font-size: 1rem;
            }
        }
        .ver-detalle{
            text-align: center;
            display: inline-block;
            width: 100%;
            cursor: pointer;
            padding-top: 30px;
            span{
                font-size: 18px;
            }
            img{
                margin-left: 6px;
            }
            
        }
    }

    .planInactivo{
        box-shadow: none;
    }
    .planActivo{
      background: #6B797F !important;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: 20px;
        height: 10px;
        left: 39px;
        bottom: -19px;
        z-index: 9;
        text-align: center;
        align-items: center;
        color: white;
        line-height: 24px;
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .beneficios{        
        .titulo{
            font-family: 'Omnes SemiBold';           
        }
        .descripcion{
            font-family: 'Omnes Regular';
        }
        li::marker {
            color: #0855C4 ; /* bullet color */
          }
          li {
            color: #454A6C /* text color */
          }

    }
    .seccion-planes{
        .plan-recomendado{
            background: $vehicular_primario;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 17px;
            font-family: 'Omnes Medium';
            border-radius: 3px 3px 0 0;
            img{
                margin-right: 12px;
            }
        }
        &__head{
            margin-bottom: 20px;
            //display: flex;
            //justify-content: space-between;
            .plan-item{
                //width: 110px;
                text-align: center;
                background-color: #E5E8EF;
                color: #454A6C;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__body{
            .planes-detalle{
                border: 2px solid $vehicular_primario;
                padding-bottom: 1.7rem;
                background-color: #fff;
            }
            .plan-monto{
                font-size: 1.5rem;
                text-align: center;
                color: $vehicular_primario;
                padding: 16px 0;
            }
            .plan-incluye{
                color: #454A6C;
                font-family: 'Omnes SemiBold';
                padding-left: 1.5rem;
            }
            .plan-nombre{
                text-align: center;
                font-size: 1.25rem;
                font-family: 'Omnes Regular';
                padding: 16px 0;
                position: relative;
                &:after{
                    background-color: #DDE0E9;
                    bottom: 0;
                    content: "";                
                    height: 1px;
                    left: 15%;
                    position: absolute;
                    width: 70%; 
                }
            }
            ul{
                padding-top: 14px;
                padding-left: 1.5rem;
                li{
                    list-style: none;
                    font-family: 'Omnes Regular';
                    font-size: 1rem;
                }
            }
            .ver-detalle{
                text-align: center;
                display: inline-block;
                width: 100%;
                cursor: pointer;
            }
        }
        .active{
            border: 2px solid $vehicular_primario;
        }
    }
    
    .planActivo.oro,.planActivo.plata,.planActivo.black{
        background: white !important;
      }
    .tab-personalizado{
        color: #383C5A;
        border: none;
        text-align: left;
    }
    .tab-personalizado.focus, .tab-personalizado:focus, .tab-personalizado:hover {
        color: #383C5A;
        background-color: #fff;
        border: none;
    }
    .tab-personalizado:not(:disabled):not(.disabled):active, .tab-personalizado:not(:disabled):not(.disabled).active, .show > .tab-personalizado.dropdown-toggle {
        color: #383C5A !important;
        background-color: #fff !important;
        border: none;
    }
    .card-personalizado{
        color: #383C5A !important;
        background-color: #fff !important;
        border-left: none;
        border-right: none; 
        border-radius: 0px;
        .title-1, .title-2, .title-3{
            padding-top: 28px;
        }
        .icono-menos{
            font-family: 'Omnes SemiBold';
            font-size: 30px;
            color: #0855C4;
        }
        .icono-mas{
            font-family: 'Omnes SemiBold';
            font-size: 30px;
            color: #0855C4;
        }        
        .btn{
            background-color: #fff;
            color: #383C5A;
            text-align: left;
            border: none;
            outline: none;
            font-family: 'Omnes Regular';
            font-size: 20px;
            outline: none;            
        }
        .card-header{
            border-bottom: none;
            height: 90px;
        }
        header{
            background-color: #FFFFFF ;
        }
        .btn-info:active{
            background-color: #fff !important;
            color: #383C5A !important;
            font-family: 'Omnes Semibold';
            outline: none;
        }
        .btn-info:focus{
            box-shadow: none;
        }

        .btn.btn-info.btn-block.not-collapsed{
            color: #383C5A !important;
            font-family: 'Omnes Semibold';
            outline: none;
            box-shadow: none;
            float: right;
            content: "\f067"; 
        }
        .btn.btn-info.btn-block.collapsed{
            //color: #383C5A !important;
            //font-family: 'Omnes Semibold';
            outline: none;
            box-shadow: none; 
        }
        .card-text{            
            font-family: 'Omnes Regular';
            font-size: 18px;
        }
        
    }

    .row-dudas{
        height: 100%;
    }

    .box-dudas{
        border: #CCD1DD 1px solid;
        border-radius: 3px;
        //height: 190px;
        //display: flex;
        padding: 20px;
        p{
            margin-bottom: 12px;
        }
        .titulo{
            color: #383C5A;
            font-family: 'Omnes SemiBold';
            font-size: 20px;
            line-height: 40px;
        }
        .text{
            color: #383C5A;
            font-family: 'Omnes Regular';
            font-size: 16px;
        }
        span{
            color: #0855C4;
            font-size: 14px;
            font-family: 'Omnes SemiBold';
            text-transform: uppercase;
            line-height: 40px;
        }
    }
    
}


@media (min-width: 600px) {
    .nuevo-home{
        .client{
            .client-numbers{
                border: none;
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                height: 100%;
                &__item{
                    border: 1px solid #DDE0E9;
                    padding-left: 18px;
                    min-width: 252px;
                    min-height: 118px;
                    margin-bottom: 24px;
                    &--numbers{
                        font-size: 2.18rem;
                    }
                }
            }
        }
        .beneficios{
            display: flex;
            flex-wrap: wrap;
            border: none;
            &__item{
                width: 50%;
                padding: 8px;
                &:after{
                    background-color: transparent;
                }
                &:nth-child(1){
                    width: 100%;
                    .caja{
                        padding-left: 24px;
                        flex-direction: row;
                    }
                    p{
                        text-align: left;
                    }
                }
                img{
                    width: 100px;
                    margin: 12px 0;
                }
                .caja{
                    border: 1px solid #DDE0E9;
                    display: flex;
                    align-items: center;
                    padding: 12px 0;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    
                }
                &--texto{
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }

        .seccion-planes{
            .plan-recomendado{
                width: 261px;
                margin: auto;
                position: absolute;
                top: -36px;
                display: flex;
                justify-content: center;
                left: 51px;
            }
            &__body{
                .planes-detalle{
                    border: none;
                    border: 1px solid #CCD1DD;
                    &:last-child{
                        border: $vehicular_primario 2px solid
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    
    .nuevo-home{
        .banner{
            height: 468px;
            //background-color: $vehicular_primario;
            background-image: url('./../../static/media/imagenes/home/banner-main2.svg');
            //background-repeat: no-repeat;
            .container{
                //background-image: url('./../../static/media/imagenes/home/banner-main2.svg');
                height: 100%;
                align-items: center;
                display: flex;            
            }
            .formCotizador{
                margin: 0;
                display: inline-block;
                width: 438px;
                max-width: 438px;
                height: 340px;
                input{
                    font-family: 'Omnes Regular';
                    font-size: 23px;
                    height: 51px;
                    width: 360px;
                    margin: auto;
                    text-align: center;
                    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 2px solid #2157BD;
                    border-radius: 3px;
                    opacity: 1;
                    //quita/elimina/borra/retira la sombra del input
                    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
                    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
                }
                .asegurados{
                    color: #0855C4;
                    font-family: 'Omnes Regular';
                }
                h1{
                    font-size: 23px;
                }
                &__msg{
                }
                .box-btn-homeForm{
                    button{
                    }
                }
                .respaldo-intercorp{
                    span{
                    }
                }
            }
            .banner-textos{
                display: inline-block;
                .titulo{
                    text-align: left;
                    line-height: 60px;
                    margin-left: 50px;
                }
                .subtitulo{
                    text-align: left;
                    margin-left: 50px;
                }
                
            }
            /* .fondo-banner{
                width: 780px;
                height: 350px;
                margin-right: -195px;
                margin-bottom: -117px;
                margin-left: -217px;
                //background-size: 90%;
                background-image: url('./../../static/media/imagenes/home/vehiculo.svg');
                background-repeat: no-repeat;
                background-position-y: bottom;
                background-position-x: right;
                //width: 100%;
                
            } */
        }
        .section-title{
            p{
                font-size: 2.44rem;
                line-height:3.125rem;
                //max-width: 810px;                
            }
        }
        
        .beneficios{
            &__item{
                width: 25%;
                min-width: 265px;
                margin-bottom: 0px;
                &:nth-child(1){
                    width: 50%;
                    ul{
                        padding-top: 18px;
                    }
                    .caja{
                        flex-direction: row;
                        img{
                            width: 150px;
                        }
                    }
                }
                &--texto{
                    font-size: 1.125rem;
                }
                img{
                    width: 120px;
                }
                .caja{
                    min-height: 270px;
                    justify-content: center;
                }
            }
        }
        /* .elegirnos{
            display: flex;
            &__item{
                flex-direction: column;
                //width: 25%;
                .box-img{
                    height: 130px;
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
                img{
                    width: 90px;
                    height: auto; 
                    //margin-right: 30px;                 
                }
                &--titulo{
                    font-size: 1.25rem;
                }
                &--text{
                    font-size: 18px;
                }
            }
            &--box{
                p{
                    text-align: center;
                }
            }
        } */
        .seccion-planes{
            &__body{
                display: flex;
                justify-content: space-between;
                position: relative;
                .plan-nombre{
                    font-size: 1.2rem;
                }
                .planes-detalle{
                    width: 360px;
                    height: 560px;
                }
                .planes-detalle{
                    position: relative;
                }
                .plan-incluye{
                    padding-left: 2rem;
                }
                ul{
                    padding-left: 2rem;
                    li{
                        line-height: 20px;
                    }
                }
                .ver-detalle{
                    position: absolute;
                    bottom: 24px;
                    font-size: 1.125rem !important;
                }
            }
        }
        .testimonios{
            width: 100%;
            background: #F9F9FB;
            height: 112px;
            display: flex;
            align-items: center;
            p{
                font-size: 18px;
                font-family: 'Omnes Regular';
                color: #383C5A;
                span{
                    font-family: 'Omnes SemiBold';
                }
            }
            .VueCarousel-inner{
                flex-basis: 475px !important;
            }
            
        }
        .home-video{
            .text-video{
                font-size: 26px;
            }
        }
        .preguntas{
            padding-top: 55px;
            .section-title{
                p {
                    text-align: left;
                }
            }
        }
        .elegirnos{
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #F9F9FB;
            &__item{
                display: flex;
                align-items: center;
                align-content: center;
                //text-align: center;
                img{
                    //margin-right: 30px;
                    width: 90px;
                }
                &--titulo{
                    color: #383C5A;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: 'Omnes SemiBold';
                    padding-top: 30px;
                }
                &--text{
                    padding-top: 10px;
                    line-height: 23px;
                    font-family: 'Omnes Regular';
                }
            }
        }
    }
    
}

@media screen and (max-width: 992px) {
    .nuevo-home{
        .planActivo.blue{
            background-color: #0855C4 !important;
            color: #FFFFFF;
            font-style: 'Omnes Medium';
            font-size: 16px;
            &:before{    
              border-right: 10px solid transparent;
              border-top: 10px solid #0855C4;
              border-left: 10px solid transparent;
              border-bottom: 10px solid transparent;
            }
            p{
              color: white !important;
            }
          }
          .content{
              padding-top: 0px;
              padding-bottom: 0px;
              .box-estadisticas{
                  height: 90px;
              }
          }
    }

    
  }

  // Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .nuevo-home{
        padding-top: 60px;
        .home-seccion{
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .banner{
            background-color: transparent;
            height: auto;
            width: 100%;
            position: relative; 
            //margin-bottom: 25px;
        }
        .section-title{
            font-family: 'Omnes Regular';
            padding-top: 40px;
            padding-bottom: 40px;
            p{
                color: $vehicular_primario;
                text-align: center;
                font-size: 27px;
                line-height: 2.19rem;
                margin: auto;
            }
        }
        .seccion-contenido{
            padding-bottom: 40px;
        }
        .client-numbers{
            border: #DDE0E9 1px solid;
            height: 90px;
            padding-top: 10px;
            padding-left: 21px;
    
            &__item{
                display: flex;
                align-items: center;
                position: relative;
                padding: 12px 0;
                img{
                    margin-right: 20px;
                }
                &:after{
                    background-color: #DDE0E9;
                    bottom: 0;
                    content: "";                
                    height: 1px;
                    left: 2%;
                    position: absolute;
                    width: 98%;                
                }
                &--numbers{
                    font-size: 1.75rem;
                    padding: 0;
                    font-family: 'Omnes Medium';
                    margin: 0;
                }
                &--text{
                    font-size: 1.12rem;
                    padding: 0;
                    font-family: 'Omnes regular';
                    margin: 0;
                    margin-top: 8px;
                }
                &:last-child{                
                    &:after{
                        background-color: transparent;
                    }
                }
            }
    
        }

        .testimonios{
            .carousel-inner{
                position: relative;
                width: 100%;
                overflow: hidden;
                height: 100%;
                padding: 5px 15px;
                line-height: 0px;
                text-shadow: none;
            }
            .imagen-testimonio{
                padding-left: 7px;
            }
            .text-testimonio{
                padding-left: 2px !important;
            }
        }

        .planes{
            padding-bottom: 0px; 
            .detalle-plan{
                display: flex;
                //flex-direction: column;
                align-items: center;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                height: 100%;
                .box-titulo{
                    margin-top: 20px;
                    margin-bottom: 20px;                    
                }
                hr{
                    width: 100%;
                }
            }
        }
        .home-video{
            padding-top: 30px;
            padding-bottom: 40px;
        }
        .elegirnos{
            &__item{
                display: flex;
                padding-top: 40px; 
                align-items: center;
                align-content: center;
                .text-mobile{
                    text-align: left;
                }              
                &--titulo{
                    color: #383C5A;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: 'Omnes SemiBold';
                    padding-top: 0px;                    
                }
                &--text{
                    padding-top: 10px;
                    line-height: 23px;
                    font-family: 'Omnes Regular';
                }
            }
            &__item-inicial{
                display: flex;
                padding-top: 0px; 
                align-items: center;
                align-content: center;
                .text-mobile{
                    text-align: left;
                }              
                &--titulo{
                    color: #383C5A;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: 'Omnes SemiBold';
                    padding-top: 0px;                    
                }
                &--text{
                    padding-top: 10px;
                    line-height: 23px;
                    font-family: 'Omnes Regular';
                }
                img{
                    width: 90px;
                }
            }
        }
        .dudas-consultas{
            .carousel-item {
                position: relative;
                display: none;
                float: left;
                width: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transition: transform .6s ease-in-out;
            }
            .carousel-item-next, .carousel-item-prev, .carousel-item.active {
                display: block;
            }
            .carousel-caption {
                position: absolute;
                //bottom: 20px;
                right: 5%;                
                left: 5%;
                z-index: 10;
                padding-top: 40px;
                padding-bottom: 20px;
                color: #fff;
                text-align: center;
                height: 100%;
            }
            .carousel-inner {
                position: relative;
                width: 100%;
                overflow: hidden;
                height: 360px;
            }
            .carousel-indicators {
                position: relative;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 15;
                display: flex;
                justify-content: center;
                padding-left: 0;
                margin-right: 15%;
                margin-left: 15%;
                list-style: none;
                li {
                    box-sizing: content-box;
                    flex: 0 1 auto;
                    width: 30px;
                    height: 3px;
                    margin-right: 3px;
                    margin-left: 3px;
                    text-indent: -999px;
                    cursor: pointer;
                    background-color: $vehicular_primario;
                    background-clip: padding-box;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    opacity: .5;
                    transition: opacity .6s ease;
                    
                }
                .active{
                    opacity: 1;
                }
            }
            /* .carousel-control-next, .carousel-control-prev {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15%;
                color: $vehicular_primario;
                text-align: center;
                opacity: .5;
                transition: opacity .15s ease;
            } */
            
            .carousel-control-prev {
                left: 0;
            }
            .btn-llamar{ 
                padding-top: 20px;               
                button{
                    font-family: 'Omnes Regular';
                    border: #EA0F8F !important;
                    background-color: #EA0F8F !important;
                    color: #fff;
                    max-width: 360px;
                    width: 100%;
                    //max-width: 275px;
                    height: 51px;
                    margin: 0 auto !important;
                    position: relative;
                    border-radius: 2px;
                    outline: none;
                }
                
            }
            .link-talleres-afiliados{
                padding-top: 12px;
                height: 51px;
            }
            &__item{
                border: #CCD1DD 1px solid;
                border-radius: 3px;
                height: 326px;
                display: flex;
                padding: 20px; 
                //margin-left: 5px;
                //margin-right: 5px;  
                .imagen{
                    height: 100px;
                    padding-top: 10px;
                }         
                img{
                    width: 89px;
                    height: 89px;
                }
                span{
                    color: #0855C4;
                    font-size: 14px;
                    font-family: 'Omnes SemiBold';
                    text-transform: uppercase;
                }
                p{
                    margin: 0px;
                }
                .titulo{
                    color: #383C5A;
                    font-family: 'Omnes SemiBold';
                    font-size: 20px;
                    padding-top: 7px;
                }
                .text{
                    padding-top: 20px;;
                    color: #383C5A;
                    font-family: 'Omnes Regular';
                    font-size: 16px;
                }
            }
            .VueCarousel-wrapper{
                width: 88%;
            }
        }

        

        .card-personalizado{
            .title-1{
                padding-top: 25px;
            }
            .title-2{
                padding-top: 15px;
            }
            .title-3{
                padding-top: 0px;
            }
        }

        .formCotizador{
            input{
                font-family: 'Omnes Regular';
                font-size: 23px;
                height: 51px;
                //width: 360px;
                margin: auto;
                text-align: center;
                background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #2157BD;
                border-radius: 3px;
                opacity: 1;
                //quita/elimina/borra/retira la sombra del input
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
                -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
            }
            .respaldo-intercorp{
                span{
                    font-family: 'Omnes Regular';
                    font-size: 11px;
                }
            }
        }
            

    }
}
