.top-0{
  top: 0;
}
.bottom-2r{
  bottom: 2rem;
}
.right-0{
  right: 0;
}
.right-45{
  right: 45%;
}
.-bottom-45r{
  bottom: -.45rem;
}
.bottom-11{
  bottom: 0.688rem;
}
.-mt-40{
  margin-top: -40px;
}
.font-size-15{
  font-size: 0.938rem;
}
.-z-index-1{
  z-index: -1;
}
.-z-index-2{
  z-index: -2;
}
.-z-index-3{
  z-index: -3;
}
.z-index-0{
  z-index: 0;
}
.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
.z-index-3{
  z-index: 3;
}
.mb-30{
  margin-bottom: 1.875rem;
}
.bg-header-top{
  background-image: url('../../static/images/pista-blue.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cliploader{
  width: 100%;
  right: 0;
  //height: 51px;
  top: 0;
  border-radius: 0;
  padding: 15px;
  bottom: 0;
  background-color: rgba(255,255,255,.8);
}
// .bg-light-gray- {
//   background-color: #f7fbff;
// }
.bg-blue-light {
  background-color: #f1f7ff;
}
.box-interseguro{
  border-radius: 30px 4px !important;
}

.box-interseguro-left{
  border-radius: 30px 4px 0 0 !important;
}
.box-interseguro-bottom-right{
  border-radius: 0 0 30px 0 !important;
}
.border-v-radius {
  border-radius: .5rem;
}
.border-v-radius-top {
  border-radius: .5rem .5rem 0 0;
}

.parallax__container {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.parallax {
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;

  /* BG behaviour */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.border-hover-line:hover{
  border: 1px solid #0855c4 !important;
  transition: .5s;
  color: #0855c4;
}
.bg-hover-primary:hover{
  background: #0855c4 !important;
  transition: .7s;
  color: white;
}
//.VueCarousel-dot-container{
//  margin: 0 !important;
//}
//.VueCarousel-dot {
//  margin: 0 !important;
//}
.footer-collapse{
  background-color: #3772D1;
}

.flecha-down {
  width:0px;
  height:0px;
  border-left:7px solid transparent; /* izquierda flecha */
  border-right:7px solid transparent; /* derecha flecha */
  border-top:7px solid #0855c4; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
}

.banner-wrapper {
  /*z-index: 99;*/
  transition: all 300ms ease-in-out;
  width: 100%;
}
.banner {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*background: rgba(162, 197, 35, 1);*/
  transition: all 300ms ease-in-out;
}
.animateIn{
  transform: translateY(0px);
  transition: all 300ms ease-in-out;
}
.animateOut{
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
}

.animateRight{
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}
.animateLeft{
  transform: translatex(0);
  transition: all 300ms ease-in-out;
}

.console-underscore {
  display:inline-block;
  position:relative;
  left:5px;
}


//responsive
@include media-breakpoint-only(xs) {
  .text-h1{
    font-size: 2rem !important;
  }
  .text-h5{
    font-size: 1.25rem !important;
  }
}
@include media-breakpoint-only(sm) {
  .text-sm-h1{
    font-size: 2rem !important;
  }
}
@include media-breakpoint-only(md) {
  .text-md-h1{
    font-size: 2rem !important;
  }
  .car-right-position{
    right: -20rem;
  }
}
@include media-breakpoint-only(lg) {
  //.text-h1{
  //  font-size: 2rem !important;
  //}
  .car-right-position{
    right: -10rem;
  }
}
@include media-breakpoint-only(xl) {
  //.text-h1{
  //  font-size: 2rem !important;
  //}
  .car-right-position{
    right: 1rem;
  }
}

