.titulo-flujo{
  height: 20px;
  font-family: 'Omnes Medium';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #0754c4;
  margin: 0;
}
.bg-white-id{
  background: white;
  border-radius: 7.2px;
}
.steps-box{
  padding: 55px 0 5px 0;
  line-height: 1.5;
  background: #f7f4fc;
  padding-bottom: 48px;
}
.box-documento{
  &__input{
    position: relative;
    img{
      position: absolute;
      left: 6px;
      top: 8px;
    }
  }
}
/*
**************************************************************
                PROGRESS BAR
**************************************************************
*/
.box-steps2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 12px;
  .backcotizacion{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 18px;
  }
  .plan-titulo{
    p{
      border-radius: 2px;
      font-family: 'Omnes Medium';
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: center;
      color: #ffffff;
      margin: 0;
      margin-top: 24px;
      padding: 8px 24px 8px;
      line-height: 14px;
      span{
        font-size: 14px;
      }
    }
  }
}
.steps2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: visible;
  list-style-type: none;
  padding: 0;
  margin: 2.3em 0 0 0;
  position: relative;
  z-index: 1;
  --steps-line-top: calc(-1.2rem - .3vw);
  --steps-line-progress: 50%;
  width: 50%;
  margin: 50px auto 0;
  &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: -16px;
      background-color: #BFD4F2;
  }
  &__item {
      text-transform: none;
      font-family: 'Omnes Regular';
      font-size: 16px;
      color: #BFD4F2;      
      position: relative;
      flex-basis: 33%;
      &:after,&:before {
          content: '';
            position: absolute;
            border-radius: 50%;
            --step-circle-size-after: calc(22px + .15vw);
            --step-circle-size-before: calc(22px + .15vw);
            width: var(--step-circle-size-after);
            height: var(--step-circle-size-after);
            top: calc(var(--steps-line-top) - 5px);
            left: 0;
            z-index: 99;
            background-color: #4884D9 ;
            border-color: #4884D9;
            background-image: url("../../static/media/img/root/check_planes_cotizador.svg");
            background-size: contain;
            position: absolute;  
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center

      }
      &:after {
          --steps-bullet-left: calc(var(--step-circle-size-before) / 2 - (var(--step-circle-size-after) / 2));
          --steps-bullet-top: calc(var(--step-circle-size-before) / 2 - (var(--step-circle-size-after) / 2) + var(--steps-line-top) - 5px);
          left: var(--steps-bullet-left);
          top: var(--steps-bullet-top);
          opacity: 0;
      }
      &:before {
          border: calc(var(--step-circle-size-before) / 2 - (var(--step-circle-size-after) / 2)) solid #BFD4F2;
          width: var(--step-circle-size-before);
          height: var(--step-circle-size-before);
          border-color: #BFD4F2;
          background-color: #BFD4F2; 
          //imagen check diabled         
          background-image: url("../../static/media/img/root/check-disabled.svg");
          span{
            position: relative;
            margin-right: -12px;
          }
      }
      
      
  }
  &--progressBar {
      position: absolute;
      height: 1px;
      top: -16px;
      background-color: #6D99D8;
      width: 0;
      left: 0;
      transition: all .3s ease;
  }
  &__item:nth-child(3) {
      text-align: left;
      span{
        position: relative;
        margin-left: -23px;
      }
      &:after {
          left: calc(3.5% - var(--step-circle-size-after)/2);
      }
      &:before {
          left: calc(3.5% - var(--step-circle-size-before)/2);
          // color: red;
          // content: '1';
      }
  }
  
  &__item:nth-child(2) {
      text-align: center;
      &:after {
          left: calc(50% - var(--step-circle-size-after)/2);
      }
      &:before {
          left: calc(50% - var(--step-circle-size-before)/2);
      }
  }
  
  &__item:nth-child(1) {
      text-align: right;
      span{
        position: relative;
        margin-right: -14px;
      }
      &:after {
          left: calc(96.5% - var(--step-circle-size-after)/2);
      }
      &:before {
          left: calc(96.5% - var(--step-circle-size-before)/2);
      }
  }
  &--active {
    //   color: $secundario;
    color: #4884D9;
  }
  &--active:after {
      opacity: 1;
  }
  &--active:before {
      opacity: 1;
      background-color: #4884D9;
      border-color: #4884D9;  
  }
}

.steps2__item.steps2--active:nth-child(1)~.steps2--progressBar {
  width: 100%;
}

.steps2__item.steps2--active:nth-child(2)~.steps2--progressBar {
  width: 50%;
}

.steps2__item.steps--active:nth-child(3)~.steps2--progressBar {
  width: 0;
}

.steps2__item.steps2--active~.steps2__item {
  color: #0754c4;
}

.steps2__item.steps2--active~.steps2__item:after {
  background-color: #4884D9;
  border-color: #4884D9;
  width: calc(var(--step-circle-size-after) - 0px);
  height: calc(var(--step-circle-size-after) - 0px);
  top: calc(var(--steps-bullet-top) + 0px);
  opacity: 1;  
  content: "";
  background-image: url("../../static/media/img/root/check_planes_cotizador.svg");
  background-size: contain;
  position: absolute;  
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.steps__item.steps2--active~.steps__item:before {
  display: none;
  background-color: #0754c4;
  border-color: #0754c4;

}
/*      FIN DEL PROGRESS BAR      */
/*
**************************************************************
                BTN PRINCIPAL STEPS
**************************************************************
*/  
a:hover {
    color: #9c5eff;
}  
.box-btn {
  text-align: center;    
  &__button {
      width: 100%;
      display: block;
      border: none;
      outline: 0;
      padding: 1rem 1rem;
      margin: .5rem auto;
      border-radius: 10px;
      text-transform: uppercase;
      font-family: 'Omnes Medium';
      font-size: calc(1rem + .2vw);
      letter-spacing: 1px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      transition: all .2s ease;
      &:disabled{
          background-color: #9b9b9b;
          cursor: auto;
      }
      &:focus{        
          outline: 0;
      }
      &:disabled:hover{
          opacity: 1;
      }
      &:hover{
          opacity: .7;
      }
  }
  &--primary{
      background-color: #ea0c90;
      color: white;
      border-radius: 3px;
      &:hover{
        background: #d6058b;
        opacity: 1;
      }
  }
  &--back {
      text-transform: capitalize;
      font-family: 'Omnes Medium';
      letter-spacing: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $secundario;
      &:hover{
        
      }
      &:before {
          content: "\f104";
          font-family: FontAwesome, sans-serif;
          background-color: #373737;
          --size: .8rem;
          font-size: var(--size);
          margin-right: .5rem;        
          width: calc(var(--size) * 1.25);
          height: calc(var(--size) * 1.25);        
          text-align: center;
          text-indent: -.5%;
          line-height: calc(var(--size) * 1.25);
          border-radius: 50%;
          color: white;
          display: inline-block;
      }
  }
  &--secondary {
      background-color: white;
      border: 2px solid $secundario;
      color: $secundario;
  }
}

.box-btn>.inactive {
  background-color: #e1e2e1;
  border: 0px;
}
.btn.form-control-continue {
  padding-top: 6px;
}
.box-btn>.back {
  font-family: 'Omnes Medium';
  font-size: 16px;
  font-weight: 600;
  margin-left: 7px;
}
.box-btn>.continue {
  margin-top: 15px;
  max-width: 280px;
  margin-bottom: 30px;
  height: 54px;
}
.box-btn__button-download {
  border: solid 1px $secundario;
  outline: 0;
  padding: 15px 24px 15px 43px;
  margin: .5rem auto;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Omnes Medium';
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  color: $secundario;
  // background: url(../../static/media/img/download-icon.svg) no-repeat 10px 14px;
}

.box-btn__button-download:disabled {
  background-color: #9b9b9b;
  cursor: auto;
}
.box-btn__button-download:disabled:hover {
  opacity: 1;
}
.box-btn__button-download:disabled:hover {
  outline: 0;
}

.box-btn__button--disabled {
  background-color: #e1e2e1;
  color: #8e8e8e;
  pointer-events: none;
  cursor: not-allowed;
}

.form-content .form-body #clientDocumentNumber:focus {
    background-image: url(../../static/media/img/input-icon-id-active.svg);
}

/*      FIN DE LOS BOTONES      */
/*
**************************************************************
                FORM GENERALES
**************************************************************
*/                

.img-form {
  text-align: center;
  margin-bottom: 20px;
  img {
      width: 113px;
  }
}

.form-body {
  margin-bottom: 1rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.credit-card {
  padding: 30px;
  border-radius: 15px;
}

.credit-card>.img {
  max-height: 35px;
  max-width: 65px;
}
.checkbox-aux{
  padding-top: 10px;
  &__span{
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: 0;
      &--icon{
      }
  }
  &__msgErrorHome{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #a20e0e;
    font-size: 12px;
    line-height: 12px;
  }
  &__msgLoadHome{
    position: relative;
    margin-bottom: 0px;
    color: white;
    font-size: 12px;
    line-height: 12px;
  }
  &__isDisabledMsgCargando
  label{
      font-size: 1.5em;
      &:after{
          content: '';
          display: table;
          clear: both;
      }
  }
  &__descripcion {
    font-size: 13px;
    line-height: 14px;
    padding-top: 2px;
    display: inline-block;
    position: absolute;
    left: 55px;
    text-align: left;
  }
}

.checkbox-aux label input[type="checkbox"] {
  display: none;
}

.checkbox-aux label input[type="checkbox"]+.checkbox-aux__span>.checkbox-aux__span--icon{
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox-aux label input[type="checkbox"]:checked+.checkbox-aux__span>.checkbox-aux__span--icon,
.radio label input[type="radio"]:checked+.checkbox-aux__span>.checkbox-aux__span--icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox-aux label input[type="checkbox"]:disabled+.checkbox-aux__span,
.radio label input[type="radio"]:disabled+.checkbox-aux__span {
  opacity: .5;
}

.box-input{
  .input-vehicular {
      height: 45px;
      font-weight: normal;
      font-family: 'Omnes Medium';
      font-size: 17px;
      border: 1px solid #ced4da;
      border-radius: .30rem;
      display: inline-block;
      width: 100%;
  }
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #a5a5a9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #a5a5a9;
    outline: 0 none;
}




.form-content{
  &__msg {
      font-family: 'Omnes Medium';
      font-size: 16px;
      font-weight: bold;
  }
  &__title {
      font-family: 'Omnes Medium';
      font-size: 17px;
      font-weight: 800;
      h2{

      }
      .tag-1{
          color: #333;
      }
      .tag-2 {
          color: $secundario;
      }
  }    
  .form-body{
      

      #clientDocumentNumber {
          background: url(../../static/media/img/input-icon-id-inactive.svg) no-repeat 10px 14px;
          background-size: 35px;
          background-position-y: 9px;
          background-position-x: 7px;
          background-repeat: no-repeat;
          padding-left: 55px;
      }
      
      #clientDocumentNumber:focus {
          // background-image: url(../../static/media/img/dni.svg);
          background-size: 35px;
          background-position-y: 9px;
          background-position-x: 7px;
          background-repeat: no-repeat;
          padding-left: 55px;
      }
  }
    .info-title {
        color: $secundario;
        font-weight: bold;
        font-size: 17px;
        font-family: 'Omnes Medium';
    }
}

/*
**********************************************
                PASO 4
***********************************************
*/

/*  FORM PASO 4    */


.label-completed {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Omnes Medium';
    font-size: 16px;
    font-weight: 800;
    color: #373737;
    margin-bottom: 0px;
}
.editable{
    input{

    }
}

.iptGral {
    &__input {
        border-radius: .30rem;
        display: inline-block;
        width: 100%;
        background-color: white !important;
        background-size: 1.3rem;
        font-weight: normal;
        font-family: 'Omnes Medium';
        font-size: 14px;
        display: inline-block;
        border: 1px solid #ced4da;
    }
    &__btn {
        // background: url(../../static/media/img/input-icon-edit.svg) no-repeat right;
        background-size: 1.3rem;
        position: absolute;
        right: 0;
        height: 40px;
        z-index: 99;
    }
}

.iptGral.editable{
  ::placeholder {
    color: #0855c4;
  }
    .iptGral__input {
        border: solid #0855c4  1px !important;
        border-radius: .30rem;
        display: inline-block;
        width: 100%;
        background-color: white !important;
        background-size: 1.3rem;
        border-radius: 0;
        border: 0;
        font-weight: normal;
        font-family: 'Omnes Medium';
        font-size: 16px;
        display: inline-block;
        text-align: left;
    }
}


@media (min-width: 990px){
  .steps:before {
    top: -19px;
  }
  .steps--progressBar {
    top: -19px;
  }
}
@media (min-width: 1024px){
  .steps-box {
    // margin-top: 65px;
    padding-top: 0;
  }
}

@media (min-width: 1410px) {
    .form-content{
        &__msg {
            font-size: 26px;
        }
        &__title {
            font-size: 38px;
        }
        .info-title {
            font-size: 34px;
        }
    }
}