    .box-select{
    .select-frecuencia{
      border: 1px solid #CCD1DD !important;
      height: 52px !important;
    }
  }

  .endosoSesion {
    height: 145px;
    overflow-y: scroll;
      padding: 0 24px;
    .endosoItem {
      display: flex;
      align-items: center;
    }
    .endosoUncheck {
      width: 15px;
      height: 15px;
      border: 1px solid gray;
      border-radius: 2px;
      background-size: contain;
    }
    .ischecked {
      background: #007bff;
      background-image: url("./../../static/media/imagenes/cotizacion/tick.png");
      background-size: 75%;
      background-position: center;
      border: none;
      background-repeat: no-repeat;
    }
    label {
      width: 90%;
      display: inline-block;
      height: 35px;
      line-height: 35px;
    }
    div {
      height: 38px;
      cursor: pointer;
      &:hover {
        background: #f7f7f7;
      }
      span {
        padding-left: 12px;
        cursor: pointer;
        width: 100%;
        display: inline-block;
        line-height: 1px;
      }
    }
  }
  .box-btnEndosoSesion {
    text-align: center;
    padding: 20px 0px;
    button {
      background: white;
      padding: 8px 19px;
      font-size: 16px;
      border: 1px solid #ea0c90;
      color: #ea0c90;
      border-radius: 100px;
      transition: all 0.75s;
      &:hover {
        background: #ea0c90;
        color: white;
        transition: all 0.75s;
      }
    }
  }
  .endosoSesion::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  .endosoSesion::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }
  
  .endosoSesion::-webkit-scrollbar-thumb {
    background-color: #4e4c4c;
    border: 2px solid #555555;
  }

  .mostrarMensajeEnviadoEndosar{
    display: flex;
  }
  
  .pagina-cotizador{
    margin-top: 72px;
    .secccion-superior{
      padding-bottom: 40px;
      background-color: #F9F9FB;
    }
    .secccion-inferior{
      padding-top: 40px;
      padding-bottom: 100px;
    }
    .row-custom{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .col-custom{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .box-input{
      position: relative;
      margin-top: 15px;
      .flotante-moneda{
        height: 45px;
        width: 55px;
        position: absolute;
        font-size: 24px;
        line-height: 60px;
        left: 135px;
        color: #454A6C;
        font-family: 'Omnes Medium';
      }
      .flotante-lapiz{
        height: 45px;
        width: 55px;
        position: absolute;
        font-size: 24px;
        line-height: 45px;
        left: 380px;
        top: 0px;
        color: #454A6C;
        font-family: 'Omnes Medium';
      }

    }
    .e-range{
      text-align: center;
      width: 250px;
      margin: 0 12px;
      border: 1px solid #D5D5D5;
      height: 46px;
      color: #454A6C;
      font-size: 24px;
    }
    .planes-mobile{
      display: flex;
      justify-content: space-between;
      &__item{
        max-width: 100px;
        width: 100%;
        text-align: center;
        background: #E5E8EF;
        height: 40px;
        line-height: 40px;
        color: $vehicular_subtitulo;
        font-family: 'Omnes SemiBold';
        font-size: 16px;
      }      
    }    
    .box-importante{
      ul{
        list-style: none;
        padding: 0;
      }
    }
    
    .que-me-cubre{
      padding-top: 20px;
      .titulo{
        font-size: 18px;
        font-family: 'Omnes SemiBold';
        color: #383C5A;
        line-height: 25px;
        padding-bottom: 15px;
        padding-top: 15px;
      }
      &__item{
        font-family: 'Omnes Regular';
        font-size: 16px;
        line-height: 30px;
        color: #383C5A;
      }
      .link-modal{
        color: #0855C4;
        text-decoration: underline;
      }
    }
    .plan-item-mobile{
      border: 2px solid #0855C4;
      padding: 16px;
      margin-top: 24px;
      .box-titulo{
        margin-top: 20px;
        margin-bottom: 10px;
        .titulo-principal{
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--unnamed-color-383c5a);
          text-align: center;
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 0px;
          color: #454A6C;
          text-transform: none;
        }
        .titulo-descripcion{
          color: var(--unnamed-color-383c5a);
          text-align: center;
          font-weight: normal;
          font-size: 18px;
          letter-spacing: 0px;
          color: #383C5A;
          text-transform: lowercase;
        }
        
      }
      .monto-frecuencia{
        margin-top: 20px;
        color: #383C5A;
        font-family: "Omnes Medium";
        font-size: 42px;
      }
      .monto-antes {
        margin-top: 10px;
        color: #454A6C;
        font-family: "Omnes Medium";
        font-size: 18px;
        text-decoration: line-through;
        text-decoration-color: #2157BD;
      }
      .btn-cotizador{
        background: $vehicular_secundario;
        color: #fff;        
        height: 50px;
        width: 80%;
        display: inline-block;
        border-radius: 4px;
        font-size: 19px;
        font-family: "Omnes regular";
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        margin-top: 20px;
      }
      
    }
    .planes-mobile__item.planActivo{
      background: $vehicular_primario;
      color: #fff;
    }
    
    
    .plan-item{
      height: 100%;
      .detalle-plan{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #CCD1DD;
        border-radius: 3px;
        opacity: 1;
        height: 100%;
        
      }
      .detalle-plan-select{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #0855C4;
        border-radius: 3px;
        opacity: 1;
        width: 100%;
        height: 100%;
      }


      /* .plan-recomendado{
        background-color: $vehicular_primario;
        width: 80%;
        height: 34px;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 34px;
      }  */
      .plan-normal{
        background-color: #FFFFFF;
        width: 80%;
        height: 34px;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 34px;
      }
      .box-titulo{
        margin-top: 20px;
        margin-bottom: 10px;
        .titulo-principal{
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--unnamed-color-383c5a);
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 0px;
          color: #383C5A;
          text-transform: uppercase;
        }
        .titulo-descripcion{
          color: var(--unnamed-color-383c5a);
          text-align: center;
          font-weight: normal;
          font-size: 18px;
          letter-spacing: 0px;
          color: #383C5A;
          text-transform: lowercase;
        }
        
      }
      .monto-frecuencia{
        margin-top: 20px;
        color: #383C5A;
        font-family: "Omnes Medium";
        font-size: 42px;
      }
      .monto-antes {
        margin-top: 10px;
        color: #454A6C;
        font-family: "Omnes Medium";
        font-size: 18px;
        text-decoration: line-through;
        text-decoration-color: #2157BD;
      }
      .btn-cotizador{
        background: $vehicular_secundario;
        color: #fff;        
        height: 50px;
        width: 80%;
        display: inline-block;
        border-radius: 4px;
        font-size: 19px;
        font-family: "Omnes regular";
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        margin-top: 20px;
      }
      .que-me-cubre {
        text-align: left;
        width: 100%;
        padding-left: 20px;
        padding-right: 15px;
      }
      hr{
        width: 80%;
        //border: 1px solid #CCD1DD;
        //opacity: 1;
      }
    }
    .box-suma-asegurada{
      display: flex;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DDE0E9;
      border-radius: 3px;
      opacity: 1;
      height: 68px;      
      .row-suma-asegurada{
        height: 100%;
        width: 100%;
        input{
          color: #383C5A;
          opacity: 1;
          font-family: 'Omnes Medium';
          font-size: 28px;
          height: 65px;
          border: none;
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
          -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
          box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
        }
        input:disabled{
          background-color: #FFFFFF;
        }
        .input-group-text{
          border: none;
          background-color: #FFFFFF;
          color: #383C5A;
          opacity: 1;
          font-family: 'Omnes Medium';
          font-size: 28px;
        }
      }
    }    
    .suma-asegurada{
      &--cabecera{
        p{
          text-align: center;
        }
        span{
          color: $vehicular_parrafo;
          font-family: 'Omnes Medium';
        }
      }
      .datos-carro{
        display: flex;
        justify-content: center;
        margin-top: 32px;
      }
    }
    .planes{
      .fecha{
        height: 52px;;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0854c4;
        border-radius: 4px;
        cursor: pointer;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 9px #25376229;
        border-radius: 3px;
        opacity: 1;
        span{
          color: #0854c4;
        }
      }
    }
    .planes-items{
      padding-top: 40px;
    }
    .valor-comercial{
      display: flex;
      justify-content: center;
      .box-input{
        max-width: 420px;
        width: 100%;
      }
      input{
        width: 100%;
        height: 58px;
      }
    }
    .valores-minimo-maximo{
      color: #8F93B2;
      font-size: 16px;
      font-family: 'Omnes Regular';
      text-align: center;
      margin-bottom: 20px;
    }

    /* .planActivo{
      background: #6B797F !important;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: 20px;
        height: 10px;
        left: 39px;
        bottom: -19px;
        z-index: 9;
        text-align: center;
        align-items: center;
        color: white;
        line-height: 24px;
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center;
      }
    } */
    
  }  

  @media (max-width: 576px) {
    .pagina-cotizador{
      .seccion{
        padding-top: 30px;
      }
      .secccion-superior{
        background-color: #FFFFFF;
        padding-bottom: 15px;
      }
      .seccion-planes{
        background-color: #F9F9FB;
      }
      .custom-select{
        height: 52px;
        border: 1px solid #CCD1DD;
        border-radius: 3px;
        color: #383C5A;
        font-size: 18px;
        font-family: 'Omnes Medium';
        outline: none;
      }
      .fecha{
        height: 52px;        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        cursor: pointer;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #F9F9FB 0% 0% no-repeat padding-box;
        //box-shadow: 0px 4px 9px #25376229;
        opacity: 1;
        
      }
      
    }
    .modal-subtitulo-mail{
      color: #0855C4;
      font-size: 21px;
      font-family: 'Omnes medium';
      text-align: center;
      line-height: normal;
      width: 315px;
      margin: auto;
      margin-bottom: 24px;
    }
    
  }

  @media (max-width: 768px) {
    .modal-subtitulo-mail{
      color: #0855C4;
      font-size: 21px;
      font-family: 'Omnes medium';
      text-align: center;
      line-height: normal;
      width: 315px;
      margin: auto;
      margin-bottom: 24px;
    }
  }

  @media (max-width: 992px) {
    .modal-subtitulo-mail{
      color: #0855C4;
      font-size: 21px;
      font-family: 'Omnes medium';
      text-align: center;
      line-height: normal;
      width: 315px;
      margin: auto;
      margin-bottom: 24px;
    }
  }
  
@media screen and (min-width: 1200px) {
  .pagina-cotizador{
    .suma-asegurada{
      &--cabecera{
        p{
          font-size: 36px;
        }
        span{
        }
      }
    }
    .valor-comercial{
      input{
        max-width: 420px;
        height: 58px;
      }
    }
    .box-input{
      position: relative;
      margin-top: 15px;
      .flotante-moneda{
        height: 45px;
        width: 55px;
        position: absolute;
        font-size: 24px;
        line-height: 60px;
        left: 135px;
        color: #454A6C;
        font-family: 'Omnes Medium';
      }
      .flotante-lapiz{
        height: 45px;
        width: 55px;
        position: absolute;
        font-size: 24px;
        line-height: 45px;
        left: 380px;
        top: 0px;
        color: #454A6C;
        font-family: 'Omnes Medium';
      }

    }
  }
}