.pagina-seleccion{
    //margin-top: 72px;
    //margin-top para campaña
    margin-top: 142px;
    padding-bottom: 100px;
    min-height:calc(100vh - 72px - 124px);
    .row_custom {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .lista1, .listaDos, .lista3{
        display: none;        
    }
    .marca, .modelo, .anio{
        display: none;        
    }
    .box-lista{
        border: 1px solid #CCD1DD;
        padding: 50px;
        border-radius: 3px;
        opacity: 1;
        .box-input{
            margin-bottom: 15px;
        }
        input{
            //border-color: $vehicular_primario;
            border: 1px solid $vehicular_primario;
            font-family: 'Omnes Regular';
            font-size: 19px;
            //Quita sombra al input
            webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
            -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
        }
    }
    .listas{
        margin-bottom: 20px;
        &--box{ 
            background: white;
            height: auto;
            max-height: 300px;
            overflow: scroll;
            border: 1px solid #CCD1DD;
            opacity: 1;
            padding-left: 22px;
            &::-webkit-scrollbar {
            width: 8px;     /* Tamaño del scroll en vertical */
            height: 8px;    /* Tamaño del scroll en horizontal */      
            }
            &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 4px;
            }
            .item{
            height: 50px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            padding-left: 8px;
            font-size: 1rem;
            font-family: 'Omnes Medium';
            cursor: pointer;
            p{
                height: 35px;
                line-height: 35px;     
            }      
            &:hover{
                background: #F4F6FC;
            }
            }  
        }
    }
    .mostrarListaMarca{
        display: block;
    }
    .mostrarListaAnio{
        display: block;
    }
    .mostrarListaModelo{
        display: block;
    }
    .mostrarItemMarca, .mostrarItemAnio, .mostrarItemModelo{
        display: inline-flex;  
    }

    .mostrarResumenMarca{
        display: block;
    }
    .mostrarResumenAnio{
        display: block;
    }
    .mostrarResumenModelo{
        display: block;
    }
}

@media (max-width: 992px) { 
    .pagina-seleccion{
        .box-lista{
            border: none;
            padding: 10px;
            border-radius: 3px;            
        }
    }  
    
}