  .bg-vehicular-gris{
    background: #F9F9FB;
  }
  .box-select{
    .select-frecuencia{
      border: 1px solid #CCD1DD !important;
      height: 52px !important;
    }
  }
  .pagina-cotizador{
    padding-top: 60px;
    .planes-mobile{
      display: flex;
      justify-content: space-between;
      &__item{
        max-width: 100px;
        width: 100%;
        text-align: center;
        background: #E5E8EF;
        height: 40px;
        line-height: 40px;
        color: $vehicular_subtitulo;
        font-family: 'Omnes SemiBold';
        font-size: 16px;
      }
    }
    .box-importante{
      ul{
        list-style: none;
        padding: 0;
      }
    }
    .titulo{
      font-size: 18px;
      font-family: 'Omnes SemiBold';
      color: #454A6C;
    }
    .que-me-cubre{
      &__item{
        font-family: 'Omnes';
        font-size: 16px;
        line-height: 20px;
      }
    }
    .detalle-plan-mobile{
      border: 2px solid #0855C4;
      padding: 16px;
      margin-top: 24px;
      
    }
    .planes-mobile__item.planActivo{
      background: $vehicular_primario;
      color: #fff;
    }
    .detalle-plan{
      border: 1px solid #CCD1DD;
    }
    .suma-asegurada{
      &--cabecera{
        p{
          text-align: center;
        }
        span{
          color: $vehicular_parrafo;
          font-family: 'Omnes Medium';
        }
      }
      .datos-carro{
        display: flex;
        justify-content: center;
        margin-top: 32px;
      }
    }
    .planes{
      padding-top: 34px;
    }
    .valor-comercial{
      display: flex;
      justify-content: center;
      .box-input{
        max-width: 420px;
        width: 100%;
      }
      input{
        width: 100%;
        height: 58px;
      }
    }
    .valores-minimo-maximo{
      color: #8F93B2;
      font-size: 16px;
      font-family: 'Omnes Regular';
      text-align: center;
      margin-bottom: 34px;
      margin-top: 12px;
    }
  }

  
@media screen and (min-width: 1200px) {
  .pagina-cotizador{
    .suma-asegurada{
      &--cabecera{
        p{
          font-size: 36px;
        }
        span{
        }
      }
    }
    .valor-comercial{
      input{
        max-width: 420px;
        height: 58px;
      }
    }
  }
}