$vehicular_primario: #0855c4;
$vehicular_secundario: #ea0c90;
$vehicular_parrafo: #454A6C;
$vehicular_titulo_seccion: #0855C4;
$vehicular_subtitulo: #454A6C;

$primario: #00ADEE;
$secundario: #0BD360;
$secundario-2:#0BD360;
$blanco: #fff;
$gris-1: #535D66;
$gris-2: #373737;
$is-v-azul : #0855c4;
$secundario_magenta : #ea0c90;

$v2gris_claro: #BAB9B9;
$v2gris_oscuro: #333;
$is-v-azul: #0855c4;

/*******************************************************
        INICIO DE ESTILOS REUTILIZABLES
*******************************************************/

.resumen-proteccion{
    border: 1px solid #CCD1DD;
    &--subtitulo{
        color: #383C5A;
        font-size: 15px;
        font-family: 'Omnes SemiBold';
    }
    &__cabecera{
        border-bottom: 1px solid #CCD1DD;
        
        p{
            font-size: 16px;
            padding: 20px 16px;
            color: $vehicular_primario;
            font-family: 'Omnes SemiBold';
        }
        .desc-resumen{
            font-size: 16px;
            padding: 0px;
            padding-left: 20PX;
            color: #383C5A;
            font-family: 'Omnes Medium';
        }
    }
    &__cuerpo{
        padding-bottom: 24px;
        .datos-pago{
            color: #383C5A;
            font-size: 15px;
            font-family: 'Omnes SemiBold';
            .monto{
                color: $vehicular_primario;
                font-size: 40px;
                font-family: 'Omnes Medium';
                vertical-align: middle;
            }
            .monto-resumen{
                color: $vehicular_primario;
                font-size: 25px;
                font-family: 'Omnes Medium';
                vertical-align: middle;
            }
            .antes{
                color: #454A6C;
                font-size: 18px;
                font-family: 'Omnes Regular';
                line-height: 40px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .datos-carro, .datos-personales,.datos-poliza,.datos-pago{
            padding-left: 24px;
            padding-top: 24px;
            p{
                line-height: 30px;
                .campo{
                    color: #A4A7BC;
                    font-size: 15px;
                    font-family: 'Omnes Regular';
                    display: inline-block;
                    width: 80px;
                }
                span{
                    color: #383C5A;
                    font-size: 15px;
                    font-family: 'Omnes Regular';
                }
                
            }
            button{
                width: 70px;
                height: 25px;
                background: var(--unnamed-color-0855c4) 0% 0% no-repeat padding-box;
                background: #0855C4 0% 0% no-repeat padding-box;
                border-radius: 3px;
                opacity: 1;                
                margin-left: 20px;
                span{
                    font-style: normal;
                    text-align: center;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                }
            }
        }
        .datos-pago{
            padding-top: 36px;
        }
    }
}
.flujo-titulo{
    color: $vehicular_primario;
    font-size: 21px;
    font-family: 'Omnes Regular';
}
.flujo-boton{
    background: $vehicular_secundario;
    height: 50px;
    color: #fff;
}

p,div,section{
    padding: 0;
    margin: 0;
}

/*******************************************************
        FIN DE ESTILOS REUTILIZABLES
*******************************************************/
.span-primario {
    color: $primario;
}
.span-secundario {
    color: $secundario;
}
.span-primario-alterno{
    color: #0855C4;
}
.span-alterno{
    color: #002e75;
}
.vehicular_primario{
    color: $vehicular_primario !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .flujo-titulo{
        font-size: 36px;
    }
    .flujo-boton{
    }
}